<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>

<section class="login-form">

    <div class="img-logo">
        <img src="https://github.com/alskdteam/semi_project_java/assets/158136952/d554fce7-e2b2-47a2-9aa6-f68e0e55b5e4" width="400px">
    </div>

    <form action="">
        <div class="int-area">
            <input type="text" name="id" id="id"
                   autocomplete="off" placeholder="사원번호"><br><br>

        </div>

        <div class="int-area">
            <input type="password" name="pw" id="pw"
                   autocomplete="off" placeholder="비밀번호">

        </div>
        <br>

        <div class="btn-area">
            <button  type="submit" class="btn" >로그인</button>
        </div>


    </form>

</section>



</body>
</html>
